.not-found {
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin sans", sans-serif;
  font-size: 4rem;
  color: #101750;
  gap: 5rem;
}
