@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.4rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  color: #101750;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.2rem;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  text-align: center;
  color: #1a0b5b;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  letter-spacing: 1.5%;
  text-transform: capitalize;
  color: #1a0b5b;
}
