.di {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  align-items: center;
  place-content: center;
  justify-items: center;
  position: relative;

  .ellipse1 {
    position: absolute;
    z-index: 3;
    right: -28%;
    top: 0%;
    width: 47rem;
    height: 47rem;
    left: 60%;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .ellipse2 {
    position: absolute;
    z-index: 2;
    width: 31.6rem;
    height: 31.6rem;
    top: -4%;
    left: 75%;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  &__container {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 1600px;
    margin-inline: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0px;
    color: #101750;

    .active {
      color: #fb2e86;
    }

    span {
      transition: all 0.2s ease-in-out;
    }

    span:hover {
      color: #fb2e86;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__img {
    grid-column-start: 2;
    width: 80%;
    height: auto;
    justify-self: end;
    grid-row: 1/5;
    max-width: 500px;
    object-fit: cover;
    z-index: 4;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__mini-img {
    width: 35%;
    height: auto;
    object-fit: cover;
    align-self: center;
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  &__product {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0px;
    color: #fb2e86;
  }

  &__para {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0px;
    color: #8a8fb9;
  }

  &__features {
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
      display: flex;
      align-items: center;
      font-family: Lato;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0px;
      gap: 0.8rem;
      color: #8a8fb9;
    }
  }
}
